Repository CSC290-2025/backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads, @CSC290-2025/database-leads

.github/CODEOWNERS:

* @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# package config
package.json @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
package-lock.json @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
pnpm-lock.yaml @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
yarn.lock @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
bun.lockb @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# build and bundler config
vite.config.ts @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# entry files
src/index.ts @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# CI/CD config
.github/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# root config files
*.config.* @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
.*rc @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
.*rc.* @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
tsconfig.json @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# database and schema files
/prisma/* @CSC290-2025/database-leads @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# documentation
/docs/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/README.md @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/index.ts @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/config/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/middlewares/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/utils/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/errors/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

feat: remove user service and types files as new example is added
  src/controllers/index.ts
  src/controllers/user.controller.ts
  src/models/index.ts
  src/models/user.model.ts
  src/routes/user.openapi.routes.ts
  src/routes/user.routes.ts
  src/schemas/index.ts
  src/schemas/user.schemas.ts
  src/services/index.ts
  src/services/user.service.ts
  src/types/index.ts
  src/types/user.types.ts
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

feat(_example): implement product schemas, types & services (for example)
  src/modules/_example/controllers/product.controller.ts
  src/modules/_example/index.ts
  src/modules/_example/models/product.model.ts
  src/modules/_example/routes/index.ts
  src/modules/_example/routes/product.openapi.routes.ts
  src/modules/_example/schemas/index.ts
  src/modules/_example/schemas/product.schemas.ts
  src/modules/_example/services/product.service.ts
  src/modules/_example/types/product.types.ts
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: exclude example module from eslint & tsconfig
  eslint.config.ts
  prisma/schema.prisma
  src/routes/index.ts
  tsconfig.json
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads, @CSC290-2025/database-leads

docs: add ROUTING_GUIDE.md to explain OpenAPI and Hono routing
  docs/ROUTING_GUIDE.md
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

docs(ARCHITECTURE_GUIDE.md): refine architecture guide with product example and routing options
  docs/ARCHITECTURE_GUIDE.md
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

ci: add check job for lint & format + add build job (#6)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_GUIDE.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  eslint.config.ts
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

ci: add check job for lint & format + add build job (#6)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_GUIDE.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  eslint.config.ts
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

ci: add check job for lint & format + add build job (#6)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_GUIDE.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  eslint.config.ts
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: update lasted schema
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: update lasted schema
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: change databaseUrl to use supabase local
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: change databaseUrl to use supabase local
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

Fix formatting of caution note in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

docs(CONTRIBUTING.md): format the migrate command
  CONTRIBUTING.md
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: add prisma files and folders to .gitignore
  .gitignore
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: sync prisma schema with main db
  .env.example
  prisma/schema.prisma
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads, @CSC290-2025/database-leads

chore: sync prisma schema with main db
  .env.example
  prisma/schema.prisma
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads, @CSC290-2025/database-leads

chore: sync prisma schema with main db
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: brought back .env.example
  .env.example
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: brought back .env.example
  .env.example
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

Update schema.prisma
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

Update schema.prisma
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

Update schema.prisma
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

feat: add hono swagger ui, zod-openapi, and zod dependencies (#8)
  .gitignore
  CONTRIBUTING.md
  docs/ARCHITECTURE_GUIDE.md
  docs/ROUTING_GUIDE.md
  eslint.config.ts
  package.json
  prisma/schema.prisma
  src/controllers/index.ts
  src/controllers/user.controller.ts
  src/index.ts
  src/models/index.ts
  src/models/user.model.ts
  src/modules/_example/controllers/product.controller.ts
  src/modules/_example/index.ts
  src/modules/_example/models/product.model.ts
  src/modules/_example/routes/index.ts
  src/modules/_example/routes/product.openapi.routes.ts
  src/modules/_example/schemas/index.ts
  src/modules/_example/schemas/product.schemas.ts
  src/modules/_example/services/product.service.ts
  src/modules/_example/types/product.types.ts
  src/routes/index.ts
  src/routes/user.routes.ts
  src/services/index.ts
  src/services/user.service.ts
  src/types/index.ts
  src/types/user.types.ts
  src/utils/openapi-helpers.ts
  src/utils/response.ts
  tsconfig.json
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads, @CSC290-2025/database-leads

feat: add hono swagger ui, zod-openapi, and zod dependencies (#8)
  .gitignore
  CONTRIBUTING.md
  docs/ARCHITECTURE_GUIDE.md
  docs/ROUTING_GUIDE.md
  eslint.config.ts
  package.json
  prisma/schema.prisma
  src/controllers/index.ts
  src/controllers/user.controller.ts
  src/index.ts
  src/models/index.ts
  src/models/user.model.ts
  src/modules/_example/controllers/product.controller.ts
  src/modules/_example/index.ts
  src/modules/_example/models/product.model.ts
  src/modules/_example/routes/index.ts
  src/modules/_example/routes/product.openapi.routes.ts
  src/modules/_example/schemas/index.ts
  src/modules/_example/schemas/product.schemas.ts
  src/modules/_example/services/product.service.ts
  src/modules/_example/types/product.types.ts
  src/routes/index.ts
  src/routes/user.routes.ts
  src/services/index.ts
  src/services/user.service.ts
  src/types/index.ts
  src/types/user.types.ts
  src/utils/openapi-helpers.ts
  src/utils/response.ts
  tsconfig.json
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads, @CSC290-2025/database-leads

feat: add hono swagger ui, zod-openapi, and zod dependencies (#8)
  .gitignore
  CONTRIBUTING.md
  docs/ARCHITECTURE_GUIDE.md
  docs/ROUTING_GUIDE.md
  eslint.config.ts
  package.json
  prisma/schema.prisma
  src/controllers/index.ts
  src/controllers/user.controller.ts
  src/index.ts
  src/models/index.ts
  src/models/user.model.ts
  src/modules/_example/controllers/product.controller.ts
  src/modules/_example/index.ts
  src/modules/_example/models/product.model.ts
  src/modules/_example/routes/index.ts
  src/modules/_example/routes/product.openapi.routes.ts
  src/modules/_example/schemas/index.ts
  src/modules/_example/schemas/product.schemas.ts
  src/modules/_example/services/product.service.ts
  src/modules/_example/types/product.types.ts
  src/routes/index.ts
  src/routes/user.routes.ts
  src/services/index.ts
  src/services/user.service.ts
  src/types/index.ts
  src/types/user.types.ts
  src/utils/openapi-helpers.ts
  src/utils/response.ts
  tsconfig.json
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads, @CSC290-2025/database-leads

fix: Fixed db schema.prisma conflict
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

fix: Fixed db schema.prisma conflict
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

fix: Fixed db schema.prisma conflict
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: update schema.prisma lasted and uadate new prisma lasted
  package.json
  prisma/schema.prisma
Owners: @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads, @CSC290-2025/database-leads

chore: add output generate path
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads

chore: add output generate path
  prisma/schema.prisma
Owners: @CSC290-2025/database-leads, @CSC290-2025/development-leads, @CSC290-2025/infrastructure-leads
